/*
Background: #fff5eb
Grey: #777777
Khaki: #b2b8a3
Light blue: #deedf0
Light orange: #f4c7ab
Dark orange: #f0a97d
Teal: #069 */

body {
  background-color: #f0f6f8;
  margin: 0;
}

.App {
  font-family: "PT Sans", sans-serif;
  margin: 0 auto;
  max-width: 1200px;
}
