/*
Background: #fff5eb
Grey: #AAA
Khaki: #b2b8a3
Light blue: #deedf0
Light orange: #f4c7ab
Teal: #069 */

.Footer {
  color: #777777;
  font-size: 10px;
  margin-bottom: 16px;
  margin-top: -8px;
  text-align: left;
}

.Footer a {
  color: #6a8ab1;
  text-decoration: none;
}
